Source: xtdb-http-multinode
Section: database
Priority: optional
Maintainer: Jeroen Dekkers <jeroen@dekkers.ch>
Build-Depends:
 debhelper-compat (= 13),
 default-jdk,
 javahelper,
 leiningen,
Standards-Version: 4.6.2
Homepage: https://github.com/dekkers/xtdb-http-multinode
Rules-Requires-Root: no

Package: xtdb-http-multinode
Architecture: all
Depends:
 default-jre-headless,
 rocksdb-tools,
 ${java:Depends},
 ${misc:Depends},
Recommends:
 ${java:Recommends},
Description: XTDB HTTP multinode
 This package contains XTDB and the HTTP multinode module.
